
audio {
    display: none;
  }
  
  .piano-javascript {
    border: 3px solid #f88;
    display: block;
  }

  .keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 300px;
    margin: 50px auto;
} 

user agent stylesheet
button {
    appearance: auto;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ; */
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.key {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.key:hover {
  background-color: #ddd;
}

  
  .piano {
    padding: 5px;
    margin: 0 auto;
    width: 550px;
  }
  
  .piano-container, .piano-javascript {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
  }
  
  .piano-container {
    text-align: center;
  }
  
  .piano-keys{
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
  }
  
  .piano-pedal {
    margin: 10px;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .piano-sustain {
    color: black;
  }
  
  .piano-white, .piano-black {
    display: inline-block;
    position: relative;
    vertical-align: top;
    direction: ltr;
    margin: 0;
    padding: 0;
  }
  
  .piano-white, .piano-black-raised {
    border-radius: 2px;
    border-color: #222;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: pointer;
  }
  
  .piano-white {
    width: 24px;
    height: 100px;
    background-color: white;
    z-index: 1;
  }
  
  .piano-black {
    width: 0px;
    height: 100px;
    z-index: 2;
  }
  
  .piano-black-raised {
    width: 16px;
    height: 70px;
    position: relative;
    left: -10px;
    background-color: black;
  }
  